body{
	background-color: #FFC300;
}
h1{
	font-size: 40px;
	color: #DAF7A6;
}

h2 {
	font-size: 25px;
	color: #C70039
}

h2 {
	color: green;
}

.big{
	font-size: 60px
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: #FF5733;
}

h1 span{
	color: violet;
}
